$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:#9BA8CC;
$menuActiveText:#FFFFFF;
$menuActiveBg: #426ED7;
$subMenuActiveText:#f4f4f5; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#39476c;
$menuHover:#426ED7;
$menuFontSize: 16px;

$menuPadding: 17px;
$subMenuPadding: 24px;
$thirdMenuPadding: 31px;
$subMenuBg:#43527b;
$subMenuHover:#426ED7;

$sideBarWidth: 198px;
// font-size
$--pure-base-font-size: 14px;
$--pure-little-font-size: 14px;
// color
$--pure-color-primary: #426ED7;

$--pure-table-header-background-color: #E2E3E7;

/* 颜色
-------------------------- */
// 主题色
$--pure-color-theme: #426ED7;
// 主题色-浅
$--pure-color-theme-light: #E1E8F8;
// 主题色-淡
$--pure-color-theme-tint: #F0F4FC;
// 常规文字颜色
$--pure-color-text: #334266;
// 文字颜色-淡
$--pure-color-text-tint: #7D8DB3;
$--pure-color-success: #67C23A;
$--pure-color-info: #4a89dc;
$--pure-color-warning: #E6A23C;
$--pure-color-danger: #F56C6C;
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuActiveBg: $menuActiveBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  menuPadding: $menuPadding;
  subMenuPadding: $subMenuPadding;
  thirdMenuPadding: $thirdMenuPadding;
  menuFontSize: $menuFontSize;
}
